body, html, h1, ul {
  margin: 0;
  padding: 0;
}

body {
   background-image: url("https://th.bing.com/th/id/R.4483a2ba3eceef8496a3a65c8d1d3685?rik=GV5OD6udxZAU%2fA&pid=ImgRaw&r=0") ;
  text: white
  
  }


header {
  text-align: center;
  margin: 15px 0 25px 0;
}



.nav {
  margin: 15px 0 0 0;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

main {
  margin: 50px auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

form input, form textarea {
  margin:4px 0;
  padding: 8px;
  border-radius: 6px;
  border: none;

}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
